h1 {
    text-align: center;
    font-size: 100px;
    background-color: rgba(255,255,255,0.5);
    padding: 100px 300px;
    margin: 0 auto;
}

.top {
    background-image: url('images/Background.png');
    padding: 40px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
}

.socials{
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
}

.socials img {
    width: 200px;
}

.github {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-image: url("images/Background.png");
    background-size: cover;
    color: white;
    font-size: 25px;
    height: 300px;
}

.page{
    height: 100%;
}